[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "~=2.17.0"
flask-bcrypt = "*"
pyjwt = "*"
gunicorn = "*"
flask-cors = "*"
flask-socketio = "*"
eventlet = "*"
flask-sslify = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.7"
