<html>
<head>
<title>SocketIO Test</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {

	var socket = io.connect('http://localhost:5000');

	socket.on('connect', function() {
		// socket.emit('student message', 'User has connected!');
		$("#messages").append('<li>connected to server</li>');
	});

	socket.on('server message', function(msg) {
		$("#messages").append('<li>&gt;&gt;&gt;&gt;message: '+msg+'</li>');
		console.log('Received message');
	});

	socket.on('question opened', function(msg) {
		var data = JSON.stringify(msg);
		$("#messages").append('<li>question opened: <br>'+data+'</li>');
		console.log('received new open question');
	});

	socket.on('question closed', function(msg) {
		var data = JSON.stringify(msg);
		$("#messages").append('<li>question closed: <br>'+data+'</li>');
		console.log('received closed question');
	});

	socket.on('all open questions', function(msg) {
		var data = JSON.stringify(msg);
		$("#messages").append('<li>subscribed to room (course): <br>'+data+'</li>');
		console.log('subscribed to room (course');
	});

	$('#joinbutton').on('click', function() {
		socket.emit('subscribe student', $('#courseId').val());
		$('#courseId').val('');
	});

});
</script>
<ul id="messages"></ul>
<input type="text" id="courseId">
<button id="joinbutton">Join Room</button>
</body>
</html>